body {
  background: url('../images/wave.svg'), linear-gradient(to bottom, #5f97bd, #b2d4eb, #fefefe, #fff);
  background-repeat: no-repeat;
  background-position: bottom;
}

h1 {
  font-family: 'Lemonada', cursive;
  font-size: 40px;
  text-shadow: -1px -1px 0 #fff;
  text-align: center;
  color: #213140;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'Lemonada', cursive;
  font-size: 30px;
  text-shadow: -1px -1px 0 #000;
  text-align: center;
  color: #F2911B;
  padding: 0;
}

p , li{
  font-family: 'Lato', sans-serif;
  color: #262626;
  font-weight: 550;
}

/* Color Theme Swatches in Hex */

/* Color Theme Swatches in Hex */

.Grab-Redesign-16-1-hex {
  color: #7972A6;
}

.Grab-Redesign-16-2-hex {
  color: #9195D9;
}

.Grab-Redesign-16-3-hex {
  color: #c7d0d6;
}

.Grab-Redesign-16-4-hex {
  color: #EBF2F2;
}

.Grab-Redesign-16-5-hex {
  color: #262626;
}

.container-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-vertical {
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: flex-start;
  align-items: flex-start;
}

.container-body {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template: [startRow]1fr [leftCenterRow] 2fr [rightCenterRow] 2fr[endCenter] / [startColumn] 1fr [leftCenterColumn] 1fr [rightCenterColumn] 1fr[endColumn];
  grid-gap: 8px;
  padding: 1%;
}

.container-body .item {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-body .item:nth-of-type(1) {
  grid-column: startColumn/leftCenterColumn;
  grid-row: startRow/leftCenterRow;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container-body .item:nth-of-type(2) {
  grid-column: leftCenterColumn/endColumn;
  grid-row: startRow/leftCenterRow;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 20%;
}

.container-body .item:nth-of-type(3) {
  padding: 10px 10px;
  grid-column: startColumn/leftCenterColumn;
  grid-row: leftCenterRow/rightCenterRow;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 3px solid #262626;
}

.container-body .item:nth-of-type(4) {
  padding: 10px 10px;
  grid-column: leftCenterColumn/endColumn;
  grid-row: leftCenterRow/rightCenterRow;
  border-radius: 10px;
  border: 3px solid #262626;
}

.container-body .item:nth-of-type(5) {
  padding: 10px 10px;
  grid-column: startColumn/rightCenterColumn;
  grid-row: rightCenterRow/endRow;
  border-radius: 10px;
  border: 3px solid #262626;
}

.container-body .item:nth-of-type(6) {
  padding: 5px 5px;
  grid-column: rightCenterColumn/endColumn;
  grid-row: rightCenterRow/endRow;
  border-radius: 10px;
  border: 3px solid #262626;
}

table.steelBlueCols {
  border: 1px solid #555555;
  background-color: #555555;
  width: 5%;
  text-align: center;
  border-collapse: collapse;
}

table.steelBlueCols td, table.steelBlueCols th {
  border: 1px solid #555555;
  padding: 5px 10px;
}

table.steelBlueCols tbody td {
  font-size: 10px;
  font-weight: bold;
  color: #FFFFFF;
  width: max-content;
}

table.steelBlueCols td:nth-child(even) {
  background: #398AA4;
}

table.steelBlueCols thead {
  background: #398AA4;
  border-bottom: 10px solid #398AA4;
}

table.steelBlueCols thead th {
  font-size: 12px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: left;
  border-left: 1px solid #398AA4;
}

table.steelBlueCols thead th:first-child {
  border-left: none;
}

table.steelBlueCols tfoot td {
  font-size: 8px;
}

table.steelBlueCols tfoot .links {
  text-align: right;
}

table.steelBlueCols tfoot .links a {
  display: inline-block;
  background: #FFFFFF;
  color: #398AA4;
  padding: 1px 4px;
  border-radius: 5px;
}

.btn-open-modal {
  color: white;
  font-weight: 500;
  background-color: #7972A6;
  border-color: #7972A6;
  width: 80px;
}

.btn-open-modal:hover {
  background-color: #9195D9;
}

.btn-close-modal {
  color: white;
  font-weight: 500;
  background-color: #213140;
  border-color: #7972A6;
  width: 80px;
}

.btn-close-modal:hover {
  color: white;
  font-weight: 500;
  background-color: #7972A6;
  border-color: #7972A6;
  width: 80px;
}

.text-justify {
  text-align: justify;
}

/* Icons */

.icon-time {
  fill: #213140;
  margin-left: 1%;
}

.icon-time:hover {
  fill: white;
}

.icon-sunshine {
  fill: #f8a805;
  -webkit-animation-name: changeColorSunshine;
  animation-name: changeColorSunshine;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.icon-intro {
  align-self: center;
  -webkit-animation-name: changeColorLive;
  animation-name: changeColorLive;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@media screen and (max-width: 1024px) {
  .container-body {
    display: grid;
    height: auto;
    width: 100%;
    grid-template: [startRow] 1fr [nextStartRow] 2fr [centerRow] 2fr [belowEndRow] 2fr[endColumn]/[startColumn] 1fr [centerColumn] 1fr[endColumn];
    grid-gap: 10px;
  }
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 22px;
  }
  .container-body .item:nth-of-type(1) {
    flex-direction: column;
    grid-column: startColumn/endColumn;
    grid-row: startRow/nextStartRow;
  }
  .container-body .item:nth-of-type(3) {
    padding-top: 10px;
    grid-column: startColumn/endColumn;
    grid-row: nextStartRow/centerRow;
  }
  .container-body .item:nth-of-type(2) {
    padding-top: 10px;
    grid-column: startColumn/centerColumn;
    grid-row: centerRow/belowEndRow;
  }
  .container-body .item:nth-of-type(4) {
    padding-top: 10px;
    grid-column: centerColumn/endColumn;
    grid-row: centerRow/belowEndRow;
  }
  .container-body .item:nth-of-type(5) {
    padding-top: 10px;
    grid-column: startColumn/endColumn;
    grid-row: belowEndRow/endRow;
  }
}

@keyframes changeColorLive {
  0% {
    fill: #12360b;
  }
  50% {
    fill: #28b30d;
  }
  100% {
    fill: #12360b;
  }
}

@keyframes changeColorSunshine {
  0% {
    fill: #e7d913;
  }
  50% {
    fill: #b3870d;
  }
  100% {
    fill: #e7d913;
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3) translate3d(0, 0, 0);
  }
  50% {
    opacity: 0.9;
    transform: scale(1.1);
  }
  80% {
    opacity: 1;
    transform: scale(0.89);
  }
  100% {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}